summary:focus {
  outline: none;
}

html {
  font-family: 'Helvetica', sans-serif;
  hyphens: auto;
  line-height: 90%;
}

body {
  text-align: left;
  margin: 50px;
}

h1 {
  color: black;
  text-decoration: none;
  font-size: 5rem;
}

p {
  color: black;
  text-decoration: none;
  font-size: 2rem;
}



/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
