summary:focus {
  outline: none;
}

html {
  font-family: 'futura', sans-serif;
}

body {
  max-width: 100vw;
  margin: auto;
  background: black;
  display: grid;
  grid-template-areas: "section section section" "ernst ernst ernst" "zuhause1 zuhause1 zuhause1" "madame madame madame" "zuhause2 zuhause2 zuhause2" "maison maison maison" "zuhause3 zuhause3 zuhause3" "vermeiden vermeiden vermeiden" "zuhause4 zuhause4 zuhause4" "madame2 madame2 madame2" "zuhause5 zuhause5 zuhause5" "maison2 maison2 maison2" "zuhause6 zuhause6 zuhause6" "footer footer footer" "impressum impressum impressum";
  grid-template-columns: 6em 1fr 6em;
  grid-template-rows: 100vh 100vh 100vh 100vh 100vh 100vh 100vh 100vh 100vh 100vh 100vh 100vh 100vh 85vh 15vh;
  margin: auto;
}

header {
  grid-area: header;
  color: white;
  position: fixed;
  display: flex;
  width: 100vw;
  margin-top: 20px;
  margin-left: 30px;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: white;
  align-content: right;
  text-decoration: none;
  text-align: right;
  letter-spacing: 0.12rem;
  font-size: 0.9rem;
  margin-right: 30px;
  padding-right: 40px;
  margin-left: -35px;
}

header a:hover {
  color: #8E00FD;
  align-content: right;
  text-decoration: none;
  text-align: right;
  letter-spacing: 0.12rem;
  font-size: 0.9rem;
}

header audio {
  width: 50px;
}

header audio:hover {
  width: 500px;

}


section {
  grid-area: section;
  margin-top: 30vh;
  margin-left: 10vw;
  margin-right: 15vw;
}

section h1 {
  text-align: left;
  color: #8E00FD;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  font-weight: lighter;
}


section p {
  text-align: left;
  position: absolute;
  color: white;
  letter-spacing: 0.2rem;
  font-size: 3.5rem;
  line-height: 130%;
  font-weight: 500;
  margin-right: 5vw;
}

.party {
  animation-name: blur;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
  animation-delay: 1s;
}


@keyframes blur {
  0% {
    filter: blur(2px);
    opacity: 0.8;
  }

  20%{
  filter: blur(1px);
  }

  50%{
  filter: blur(3px);
  opacity: 0.5;
  }

  20%{
  filter: blur(4px);
  }

  100%{
  filter: blur(1px);
  }
}



.ernst {
  grid-area: ernst;
  background-image: url("./z_bilder/alain_berset_3.jpg");
  background-position: center;
  background-size: cover;
}


.ernst-text {
  margin-top: 8vh;
  display: block;
  text-align: right;
  color: white;
  font-weight: 500;
  position: absolute;
  z-index: 5;
  display: block;
}

.ernst-text p {
  letter-spacing: 0.2rem;
  font-size: 2rem;
  font-weight: 500;
  margin-right: 10vw;
  padding-top: -200px;
}

.ernst-text-cut h1 {
  text-transform: uppercase;
  font-style: italic;
  color: white;
  letter-spacing: 0.2rem;
  font-size: 10rem;
  font-weight: 600;
  margin-right: 10vw;
  margin-top: -20px;
  opacity: 0.9;
  -webkit-text-fill-color:
transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #24003A;
  text-shadow:
            5px -5px white,
            -5px 5px #24003A;
}

.ernst-text-cut :nth-child(1) {
  clip-path: polygon(0 38%, 100% 46%, 120% 0, 0 0);
  z-index: 1;
}

.ernst-text-cut :nth-child(2) {
  clip-path: polygon(0 38%, 100% 46%, 120% 53%, 0 66%);
  z-index: 2;
  margin-top: -294px;
  padding-right: 5px;
}

.ernst-text-cut :nth-child(3) {
  clip-path: polygon(0 100%, 100% 100%, 120% 53%, 0 66%);
  margin-top: -294px;
}

.ernst-text h2 {
  color: white;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  font-weight: 500;
  margin-left: 50vw;
  margin-right: 10vw;
  line-height: 170%;
  margin-top: -100px;
}

.madame {
  display: flex;
  background: linear-gradient(to bottom right, #3801FF, #CC1E79);
  grid-area: madame;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  padding-top: 15vh;
  padding-left: 5vh;
}

.mouseover 		{
        display: flex;
				background-image:url("./z_bilder/website.png");
				background-repeat: no-repeat;
				width:80vw;
        padding-left: 10vw;
        background-size: contain;
        justify-content: center;
        align-items: center;
        background-color: transparent;
				}

.mouseover img	{
        width: 80vw;
        justify-content: center;
        align-items: center;
        background-size: contain;
        padding-left: 10vw;
        background-color: transparent;
    	  }

img.mouseover:hover
				{
				background-image:url("./z_bilder/website2.gif");
				background-repeat:no-repeat;
        width: 80vw;
        justify-content: center;
        align-items: center;
        background-size: contain;
        padding-left: 10vw;
        background-color: transparent;
				}

@keyframes voila {
  50% {
    opacity: 1;
  }
   }

.madame2 {
  display: flex;
  background: linear-gradient(to bottom right, #3801FF, #CC1E79);
  color: white;
  grid-area: madame2;
  font-size: 1.3rem;
  font-weight: 400;
  justify-items: center;
  align-items: center;
}

.madame p {
  text-align: center;
  margin: auto;
}

.madame2 p {
  text-align: center;
  display:flex;
  margin:auto;
}


.zuhause1 {
  grid-area: zuhause1;
  justify-content: center;
  align-content: center;
}

.zuhause2 {
  grid-area: zuhause2;
  background-image: url("./z_bilder/maxresdefault2.jpg");
  justify-content: center;
  align-content: center;
}

.zuhause3 {
  grid-area: zuhause3;
  background-image: url("./z_bilder/maxresdefault3.jpg");
  justify-content: center;
  align-content: center;
}

.zuhause4 {
  grid-area: zuhause4;
  background-image: url("./z_bilder/maxresdefault4.jpg");
  justify-content: center;
  align-content: center;
}

.zuhause5 {
  grid-area: zuhause5;
  background-image: url("./z_bilder/maxresdefault.jpg");
  justify-content: center;
  align-content: center;
}

.zuhause6 {
  grid-area: zuhause6;
  background-image: url("./z_bilder/maxresdefault.jpg");
  justify-content: center;
  align-content: center;
}

.zuhause-text {
  text-align: center;
  color: white;
  letter-spacing: 0.3rem;
  height: 10rem;
  width: 10rem;
  font-weight: 500;
  /*margin-left: 30vh;
  margin-top: 50vh;*/
  z-index: 1;
}

.bleiben{
  font-size: 4rem;
    font-weight: 500;
    display: block;
}

.sie{
  font-size: 10.7rem;
  line-height: 70%;
    font-weight: 500;
    display: block;
}

.zuhause{
  font-size: 3.2rem;
  line-height: 150%;
  font-weight: 500;
  display: block;
}

.raster {
  display: grid;
  position: fix;
  justify-content: center;
  margin: auto;
  margin-top: 20vh;
  border: 2px white solid;
  width: 500px;
  height: 500px;
}
.raster1 {
  display: grid;
  position: fix;
  justify-content: center;
  margin: auto;
  margin-top: 20vh;
  border: 10px white solid;
  width: 500px;
  height: 500px;
}

.raster2 {
  display: grid;
  position: fix;
  justify-content: center;
  margin: auto;
  margin-top: 20vh;
  border: 11px white solid;
  width: 500px;
  height: 500px;
  animation-name: raster2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
  z-index: 5;
}

.raster3 {
  display: grid;
  position: fix;
  justify-content: center;
  margin: auto;
  margin-top: 20vh;
  border: 11px white solid;
  width: 500px;
  height: 500px;
  animation-name: raster3;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
  z-index: 5;
}

.bewegen1 {
  font-size: 5rem;
  justify-content: center;
  width: 500px;
  height: 500px;
  color: white;
  position: relative;
  animation-name: bewegen;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
}

.bewegen2 {
  font-size: 5rem;
  justify-content: center;
  width: 500px;
  height: 500px;
  color: white;
  position: relative;
  animation-name: bewegen2;
  animation-duration: .4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
}

.bewegen3 {
  font-size: 5rem;
  justify-content: center;
  width: 500px;
  height: 500px;
  color: white;
  position: relative;
  animation-name: bewegen3;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
}

.bewegen4 {
  font-size: 5rem;
  justify-content: center;
  width: 500px;
  height: 500px;
  color: white;
  position: relative;
  animation-name: bewegen4;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
}

.bewegen5 {
  font-size: 5rem;
  justify-content: center;
  width: 500px;
  height: 500px;
  color: white;
  position: relative;
  animation-name: bewegen5;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
}

.bewegen6 {
  font-size: 5rem;
  justify-content: center;
  width: 500px;
  height: 500px;
  color: white;
  position: relative;
  animation-name: bewegen6;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
}

.bewegen1:hover {
  animation-play-state: paused;
}

.bewegen2:hover {
  animation-play-state: paused;
}

.bewegen3:hover {
  animation-play-state: paused;
}

@keyframes bewegen {
  0% {
    left: 0px;
    top: 100px;
  }

  10%{
  left: 0px;
  top: -100px;
  }


  50%{
    left: 230px;
    top: 100px;
  }

  75%{
    left: 90px;
    top:-100px;
  }
  100%{
    left: 120px;
    top: 0px;
  }
}

@keyframes bewegen2 {
  0% {
    left: 0px;
    top: 100px;
  }

  10%{
    left: 230px;
    top: 0px;
  }

  30%{
    left: 00px;
    top: 170px;
  }


  50%{
    left: 200px;
    top: -100px;
  }

  75%{
    left: 30px;
    top: 170px;
  }
  100%{
    left: 120px;
    top: -110px;
  }
}

@keyframes bewegen3 {
  0% {
    left: 0px;
    top: 100px;
  }

  10%{
    left: 230px;
    top: 0px;
  }

  30%{
    left: 00px;
    top: 170px;
    filter: blur(2px);
    opacity: 0.9;
  }


  50%{
    left: 200px;
    top: -100px;
  }

  75%{
    left: 30px;
    top: 170px;
    filter: blur(8px);
    opacity: 0.9;
  }
  100%{
    left: 120px;
    top: -110px;
  }
}

@keyframes bewegen4 {
  0% {
    left: 0px;
    top: 20px;
    transform: rotate(200deg);
    color: #FAFF01;
  }

  10%{
    left: 60px;
    top: 0px;
    transform: rotate(-70deg);
  }

  30%{
    left: 00px;
    top: 30px;
      transform: rotate(-150deg);
      color: #03F8CC;
  }


  50%{
    left: 0px;
    top: -40px;
    transform: rotate(70deg);
  }

  75%{
    left: 250px;
    top: 130px;
    transform: rotate(0deg);
    color: #8E00FD;
  }
  100%{
    left: 70px;
    top: 8px;
    transform: rotate(0deg);
  }
}

@keyframes bewegen5 {
  0% {
    left: 0px;
    top: 100px;
  }

  10%{
    left: 230px;
    top: 0px;
  }

  30%{
    left: 00px;
    top: 170px;
    transform: rotate(20deg);
  }


  50%{
    left: 200px;
    top: -100px;
  }

  75%{
    left: 30px;
    top: 170px;
    transform: rotate(-10deg);
  }
  100%{
    left: 120px;
    top: -110px;
  }
}

@keyframes bewegen6 {
  0% {
    left: 0px;
    top: 100px;
    opacity: 1;
  }

  10%{
    left: 330px;
    top: 0px;
    opacity: 0;
    transform: rotate(10deg);
  }

  30%{
    left: -40px;
    top: 170px;
    opacity: 0;
  }


  50%{
    left: 250px;
    top: -100px;
    opacity: 1;
  }

  75%{
    left: 30px;
    top: 220px;
    transform: rotate(-10deg);
    opacity: 0;
  }
  100%{
    left: 120px;
    top: -180px;
    opacity: 1;
  }
}

@keyframes raster2 {
  3% {
    border-color: #CA9EFF;
  }

  20%{
    border-color: white;
  }

  50%{
    border-color: #F79EFF;
  }
  90%{
    border-color: #9ED1FF;
  }
}

@keyframes raster3 {
  33% {
    border-color: #3801FF;
  }

  66%{
    border-color: #F80356;
  }
  99%{
    border-color: #8E00FD;
  }
}


.maison {
  display: flex;
  background: #8E00FD;
  color: white;
  grid-area: maison;
  align-items: center;
  font-weight: 400;
  animation-name: maison-background;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
}

.maison-text {
  position: relative;
  animation-name: maison;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
}

.maison-text:hover {
  animation-play-state: paused;
}

.maison2 {
  display: flex;
  background: #8E00FD;
  color: white;
  grid-area: maison2;
  align-items: center;
  font-weight: 400;
  animation-name: maison-background;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
}

.maison p {
  margin: auto;
  text-align: center;
  font-size: 9rem;
  letter-spacing: 0.4rem;
  font-weight: 500;
}

.maison2 p {
  margin: auto;
  text-align: center;
  font-size: 9rem;
  letter-spacing: 0.4rem;
  font-weight: 500;
}

@keyframes maison {
  0% {
    right: 110px;
    opacity: 1;
  }

  10% {
    right: -130px;
    opacity: 1;
  }

  20%{
    right: 50px;
    top: 10px;
    opacity: 0.2;
  }

  30% {
    right: -50px;
    opacity: 1;
  }

  40%{
    right: 150px;
    opacity: 0.2;
  }

50%{
    right: -150px;
    opacity: 0.9;
    top: -10px;
  }

  60%{
    right: 90px;
    opacity: 0.2;
  }

  70% {
    right: -90px;
    opacity: 1;
    top: 10px;
  }

  80%{
    right: 120px;
    opacity: 0.2;
  }

90%{
    right: -120px;
    opacity: 0.7;
    top: -10px;
  }
}

@keyframes maison-background {

  25% {
    background-color: #670123;
  }

  50%{
    background-color: #8E00FD;
  }

  75% {
    background-color: #370062;
  }

  100%{
    background-color: #F80356;
  }

}

.vermeiden {
  grid-area: vermeiden;
  margin-top: 50px;
}

.vermeiden h1 {
  color: #8E00FD;
  text-align: left;
  font-size: 5rem;
  letter-spacing: 0.4rem;
  font-weight: 500;
  margin-left: 50px;
}

.vermeiden h2 {
  color: #8E00FD;
  text-align: right;
  font-size: 5rem;
  letter-spacing: 0.4rem;
  font-weight: 500;
  margin-right: 50px;
  margin-bottom: 50px;
}

footer {
  display: block;
  background: black;
  color: white;
  grid-area: footer;
  height: 85vh;
  padding: 20vh;
}

.test p {
    color: white;
    font-size: 1.2rem;
    color: white;
    letter-spacing: 0.25rem;
    font-weight: 400;
    text-align: center;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #8E00FD; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
      typing 4s steps(40) 1s 1 normal both,
      blink-caret .5s step-end infinite;
      /*animation-iteration-count: infinite;*/
}


/* The typing effect */
@keyframes typing {
  0% { width: 0; }
  100% { width: 27rem;}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: white; }
  50% { border-color: #8E00FD; }
}

/*
footer p {
  margin-top: 20vh;
  font-size: 1.2rem;
  letter-spacing: 0.15rem;
  font-weight: 500;
  line-height: 1%;
  text-align: center;
} */

footer h1 {
  padding-top: 3vh;
  font-size: 5rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
  line-height: 1%;
  text-align: center;
  line-height: 130%
  position: static;
}

.impressum {
  display: grid;
  background: linear-gradient(to bottom right, #220023, #23003F, #0E0018, #250032);
  background-size: 400% 400%;
  color: #8E00FD;
  grid-area: impressum;
  height: 15vh;
  animation: impressum-color 50s ease-in-out infinite;
  }

  @keyframes impressum-color {
    0% {
      background-position: 0 50%;
      }

    50% {
      background-position: 300% 50%;
      }

    100% {
        background-position: 0 50%;
        }
  }

  .impressum h2 {
    font-size: 0.9rem;
    font-weight: 400;
    margin-left: 3vw;
    margin-top: 5vh;
    letter-spacing: 0.1rem;
    text-align: center;
    line-height: 160%;
  }

  .purple {
    color: #8E00FD;
    animation-name: longer;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
    line-height: 200%;
    font-weight: 100;
    animation-delay: 5s;
  }

  @keyframes longer {
    0% {
      opacity: 0;
      }

    50% {
      opacity: 1;
       font-weight: 100;
       margin-right: 7rem;
       margin-left: 7rem;
      }
  }

  .mail {
    color: #8E00FD;
    text-decoration: none;
  }

  .mail:hover {
    color: white;
    text-decoration: none;
  }

/*
}
    @media all and (max-width: 48em) {
      body {
        grid-template-areas: "header header header" "article" "footer footer footer";
        grid-template-columns: 50px 2fr 50px;
        grid-template-rows: 100vh 100vh 100vh;
      }

      .madame {
        background: linear-gradient(to bottom right, #3801FF, #CC1E79);
        color: white;
        grid-area: header;
        font-size: 1rem;
        font-weight: lighter;
        text-align: center;
        justify-content: center;
        writing-mode: vertical-rl;
      }

      article {
        border: 0px white solid;
        grid-area: article;
        text-align: center;
        color: white;
        letter-spacing: 0.3rem;
        font-size: 4rem;
      }

    footer{
        background: #8E00FD;
        grid-area: footer;
        text-align: center;
        font-size: 3.5rem;
        display: flex;
        justify-content: center;
      }

      .rotate {
        margin-top: 40vh;
        transform: rotate(30deg);
        color: white;
      }

*/

    }
