summary:focus {
  outline: none;
}

html {
  font-family: 'futura', sans-serif;
}

body {
  max-width: 100vw;
  margin: auto;
  background: black;
  display: grid;
  grid-template-areas: "header header header" "ernst ernst ernst" "madame madame madame" "nav zuhause aside" "maison maison maison";
  grid-template-columns: 6em 1fr 6em;
  grid-template-rows: 100vh 100vh 100vh 100vh 100vh;
  margin: auto;

}

.ernst-text-cut h1 {
  text-transform: uppercase;
  font-style: italic;
  color: white;
  letter-spacing: 0.2rem;
  font-size: 10rem;
  font-weight: 600;
  line-height: 1%;
  margin-right: 10vw;
}

.ernst-text-cut:nth-child(1) {
clip-path: polygon(0 0, 100% 0, 100% 51%, 0 35%);}
