summary:focus {
  outline: none;
}

html {
  font-family: 'Helvetica', sans-serif;
  hyphens: auto;
}


body {
  justify-content: center;
  background-color: black;
  align-content: center;
  justify-content: center;
  margin-top: 100px;
}


.raster {
  display: grid;
  position: fix;
  justify-content: center;
  margin: auto;
  border: 5px white solid;
  width: 500px;
  height: 500px;
  margin-top: auto;
  animation-name: raster;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
}

.bewegen {
  font-size: 5rem;
  justify-content: center;
  width: 500px;
  height: 500px;
  color: white;
  position: relative;
  animation-name: bewegen;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
}

.bewegen:hover {
  animation-play-state: paused;
}

@keyframes bewegen {
  0% {
    left: 0px;
    top: 50px;
  }

  10%{
  align-items: right;
  top: 360px
  }


  50%{
    left: 30px;
    top: 0px;
  }

  75%{
    left: 90px;
    top:420px;
  }
  100%{
    left: 120px;
    top: 0px;
  }
}

@keyframes raster {
  3% {
    border-color: red;
  }

  20%{
    border-color: blue;
  }

  50%{
    border-color: pink;
  }
  90%{
    border-color: white;
  }
}
